body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
}

.calculator {
    background-color: lavenderblush;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px pink;
    width: 300px;
}

#result {
    width: 93%;
    height: 50px;
    background-color: pink;
    border: none;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 20px;
    background-color: PaleVioletRed;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

button.zero {
    grid-column: span 2;
}
